:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --base-color: #f4f4f4;

  --transition-time: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


button [type:submit] {
  background-color: #111241;
}
body {
  background-color: var(--base-color);
  color: #2e2e2e;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111143;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #fdb10e;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #fdb10e #111143;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}


.btn1 {
  font-size: 16px;
}